{% extends 'base.html' %}

{% block content %}
	<h3>Hello, {{ current_user.username }}!</h3>

    <div class="list-group">
        {% for task in tasks %}
            <a href="{{ url_for('task_detail', task_id=task.id) }}" class="list-group-item list-group-item-action">{{ task.title }}</a>
        {% endfor %}
    </div>
{% endblock %}