{% extends 'base.html' %}

{% block content %}
    <h1>Вход</h1>
    <form action="" method="POST" novalidate style="width: 300px;">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label(class='form-label') }}<br>
            {{ form.username(size=35, class='form-control') }}
            {% for error in form.username.errors %}
            	<span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class='form-label') }}<br>
            {{ form.password(size=35, class='form-control') }}
            {% for error in form.password.errors %}
            	<span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</p>
        <p>{{ form.submit(class='btn btn-primary') }}</p>

{#        {% for field in form if field.name != 'csrf_token' %}#}
{#            {{ field.label }}#}
{#            {{ field }}#}
{#        {% endfor %}#}

    </form>

    <p class="mt-5">Новый пользователь? <a href="{{ url_for('register') }}">Нажмите для регистрации</a></p>
{% endblock %}