{% extends 'base.html' %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="{{ url_for('register') }}" method="POST" class="w-50">
        {{ form.hidden_tag() }}

        {% for field in form if field.name != 'csrf_token' %}
            <div class="mb-3">
                {{ field.label(class='form-label') }}
                {{ field(class='form-control') }}

                {% for error in field.errors %}
                	<span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}