{% extends 'base.html' %}

{% block content %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.timestamp.strftime('%d.%m.%Y, %H:%M') }}</h6>
            <p class="card-text">Срок выполнения: {{ task.deadline.strftime('%d.%m.%Y, %H:%M') }}</p>
            <p class="card-text">Статус: {{ task.status.name }}</p>
            <p class="card-text">Автор: {{ task.author.username }}</p>
            <a href="{{ url_for('task_update', task_id=task.id) }}" class="btn btn-primary">Редактировать</a>
            <a href="{{ url_for('task_delete', task_id=task.id) }}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}