{% extends 'base.html' %}

{% block content %}
	<h3>Редактирование задачи</h3>
    <form action="{{ url_for('task_update', task_id=task.id) }}" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.title.label(class='form-label') }}
            {{ form.title(class='form-control') }}
            {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.deadline.label(class='form-label') }}
            {{ form.deadline(class='form-control') }}
            {% for error in form.deadline.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.status.label(class='form-label') }}
            {{ form.status(class='form-select') }}
            {% for error in form.status.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Редактировать</button>
    </form>
{% endblock %}