{% extends 'base.html' %}

{% block content %}
	<h3>Удаление задачи</h3>
    <p>Вы уверены, что хотите удалить задачу: <b>{{ task.title }}</b>?</p>
    <form action="{{ url_for('task_delete', task_id=task.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-success">Удалить</button>
        <a href="{{ url_for('task_detail', task_id=task.id) }}" class="btn btn-danger">
            Отмена
        </a>
    </form>
{% endblock %}