{% extends 'base.html' %}

{% block content %}
    <h3>Добавить задачу</h3>
    <form action="{{ url_for('task_create') }}" method="POST">
        <div class="w-50">
            {{ form.csrf_token }}
            <div>
                {{ form.title.label(class='form-label') }}
                {{ form.title(class='form-control') }}
                {% for error in form.title.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.deadline.label(class='form-label') }}
                {{ form.deadline(class='form-control') }}
                {% for error in form.deadline.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class='btn btn-primary mt-3') }}
        </div>
    </form>
{% endblock %}